body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
/*---- Variables ------*/
:root {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  --fs-text: 1.1rem;
  --clr-dark: #1a1a1a;
  --clr-white: #fff;
  --clr-intense: #dc3545;
  --clr-light:#6c757d;
  --clr-primary:#633cff;
  --clr-background:#efebff;
  --br: 0.3125rem;
  --br-circle: 50%;
  --m12:0.75rem;
  --p12: 0.75rem;
}

/*---- Buttons ----*/
.btn{
  padding: 0.5625rem 0.9375rem;
  border-radius: var(--br);
  color: var(--clr-white);
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.big-btn{
  width: 100%;
}

.primary-btn{
  background-color: var(--clr-primary);
}

.no-background-btn,
.no-background-intense-btn{
  background-color: var(--clr-white);
  color:var(--clr-primary);
  border:2px solid var(--clr-primary);
}

.no-background-intense-btn:hover{
  background-color: var(--clr-intense);
  color: var(--clr-white);
  border: none;
}

.light-btn{
  background-color: var(--clr-light);
}
.intense-btn{
  background-color: var(--clr-intense);
}

.same-background-btn{
  background-color: var(--clr-background);
  color:var(--clr-primary);
  font-weight: bold;
}
/*---- Typography -----*/
.text{
  font-size: var(--fs-text);
  line-height: 1.3;
  letter-spacing: 0.8px;
  color: var(--clr-dark);
}
.heading{
  color: var(--clr-dark);
  letter-spacing: 1px;
}

/* Backgrounds */
.items-background{
  background-color: var(--clr-background);
}

/* Layouts */
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

/* Other */
ul{
  list-style-type: none;
}
::placeholder{
  color: var(--clr-light);
  font-size: 1rem;
}

.text-shadow{
  text-shadow: 2px 2px 3px rgba(99, 60, 255, 0.3);
}

.profile-image {
  width: 200px;
  height: 200px;
  border: 3px solid #ccc;
  border-radius: var(--br-circle);
  object-fit: cover; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}