
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

:root {
  --clr-white: #fff;
  --clr-intense: #dc3545;
  --clr-light:#6c757d;
  --clr-primary:#633cff;
  --br: 0.3125rem;
  --br-circle: 50%;
  --mt:0.75rem;
}

.btn{
  padding: 0.5625rem 0.9375rem;
  border-radius: var(--br);
  color: var(--clr-white);
  font-size: 1rem;
  cursor: pointer;
  border: none;
}

.big-btn{
  width: 100%;
}

.primary-btn{
  background-color: var(--clr-primary);
}

.no-background-btn,
.no-background-intense-btn{
  background-color: var(--clr-white);
  color:var(--clr-primary);
  border:2px solid var(--clr-primary);
}
.no-background-intense-btn:hover{
  background-color: var(--clr-intense);
  color: var(--clr-white);
  border: none;
}

.light-btn{
  background-color: var(--clr-light);
}
.intense-btn{
  background-color: var(--clr-intense);
}

/* .circle-btn{
  border-radius: var(--br-circle);
  width:50px;
  height: 50px;
  text-align: center;
} */

/* inputs and dropdown for links profile and preview */
input,select{
  padding: 0.7rem 1.2rem;
  border-radius: var(--br);
  border: 2px solid var(--clr-light);
  width: 50%;
}
ul{
  list-style-type: none;
}
