.links-navbar-container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1.25rem;
}


.save-cancel-btn-container{
  margin-top:var(--m12);
  display: flex;
  gap:2rem;
}

.platform-dropdown{
  width: 57%;  
  cursor: pointer;
}

 select{
  color: var(--clr-light);
  appearance: none;
}

option{
  color: var(--clr-primary);
  font-weight: bold;
}



/* Rendered Platform-Links */
.link-list-item-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:var(--m12);
  padding:var(--p12) ;
  border-radius: var(--br);
  
}

