/* LinkForm */
.links-inputs,
.platform-dropdown{
  padding: 0.7rem 1.2rem;
  border-radius: var(--br);
  border: 2px solid var(--clr-light);
  width: 50%;
}
.platform-dropdown{
  width: 57%;  
  cursor: pointer;
  font-size: 1rem;
}

.editable {
  border-color: var(--clr-light); 
  background-color:#f0faff;
}

select{
  color: var(--clr-light);
  appearance: none;
}

option{
  color: var(--clr-primary);
  font-weight: bold;
}
.save-cancel-btn-container{
  margin-top:var(--m12);
  display: flex;
  gap:2rem;
}

/* Rendered Platform-Links */
.link-list-item-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:var(--m12);
  padding:var(--p12) ;
  border-radius: var(--br);
  border: 2px solid var(--clr-light);

  }

  .platforms-link-container p{
    text-shadow: 1px 1px 3px rgba(99, 60, 255, 0.2);
    }

 
  