.main-navbar-container{
    display: flex;
    justify-content: space-between;
}

@media (max-width:500px) {
    .main-navbar-container{
        justify-content: space-evenly;
        border: 5px solid red;
    }
}