.preview-container {
    max-width: 40rem;
    margin: 0 auto;
    padding: 1.25rem;
  }

  .profile-in-preview-container{
    justify-content: center;
    align-items: center;
}

.full-name{
  letter-spacing: 6px;
  text-transform: capitalize;
}

.clickable-links-container{
  align-items: center;
  padding-right: 5rem;
}

.link-box{
  padding: 1.5rem 2.5rem;
  border-radius: var(--br);
  background-color: var(--clr-primary);
  margin-top: var(--m12);
  width: 70%;
  text-align: center;
  cursor: pointer;
  transition: transform 1.5s;
}

.link-box:hover{
  transform: scale3d(1.1,1.1,1.1); 
}

.preview-link-text{
  color: var(--clr-white);
  text-decoration: none;
  font-weight:bold;
  font-size: 1.4rem;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
  text-shadow: 3px 3px 15px rgba(220, 53, 69, 0.7);
}


/* Modal */
  .share-links-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
  }
  
  .share-links-modal-content {
    background-color: white;
    padding: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    position: fixed;
  }