.preview-navbar-container{
    display: flex;
    justify-content: space-between;
}

.icon-size{
    font-size: 24px;
}

@media (max-width:500px) {
    .icon-size {
        font-size: 16px; 
      }
}